.inputPanel {
  background-color: #8c8c8c;
  border-radius: 30px;
  padding: 10px 5px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.button {
  width: 50%;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-weight: 600;
  background-color: #e1e1e1;
  border: none;
  font-size: 1.2rem;
  margin-left: auto;
}

.button:active {
  background-color: #c4c4c4;
}

.writeInfo {
  border-radius: 20px;
  background-color: #c4c4c4;
  padding: 10px;
  margin-bottom: 10px;
}
