.nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button {
  background-color: #8c8c8c;
  border: none;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  font-size: 1.3rem;
}

.active {
  background-color: #8c8c8c;
  border: 2px solid black;
  border-top: none;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  font-size: 1.3rem;
  font-weight: 600;
}
