.showPast {
  background-color: #8c8c8c;
  border-radius: 30px;
  padding: 10px 5px;
  margin-top: 10px;
}

.monthWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.monthWrapper img {
  height: 1rem;
}

.calendar {
  background-color: #c4c4c4;
  border-radius: 20px;
}

.daysWrapper {
  padding: 5px;
  display: grid;
  column-gap: 3px;
  row-gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.day,
.daySelected {
  border: 1px solid rgb(83, 83, 83);
  height: 40px;
  position: relative;
  box-sizing: border-box;
}

.daySelected {
  border: 2px solid black;
}

.dayNumber {
  font-size: 0.7rem;
  font-weight: 800;
  color: grey;
  padding-left: 1px;
  line-height: 0.8rem;
}

.doneNumber {
  font-weight: 800;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weeksWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week {
  text-align: center;
}
