.showPast {
  background-color: #8c8c8c;
  border-radius: 30px;
  padding: 10px 5px;
  margin-top: 10px;
}

.monthWrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.monthWrapper img {
  height: 1rem;
}
