.itemTodo {
  background-color: #c4c4c4;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.buttons10Wrapper {
  display: flex;
  gap: 2px;
}

.description {
  margin-bottom: 5px;
  text-align: center;
}
